/* General Reset */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

/* Custom Fonts */
h1,
h2,
h3 {
  font-family: 'Roboto', sans-serif;
}

/* Header */
header {
  backdrop-filter: saturate(90%);
  transition: background-color 0.3s ease, transform 0.3s ease-in-out;
  padding: 20px 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header.scrolled {
  background-color: #eeb703;
  transition: background-color 0.3s ease;
}

header.hidden {
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
}

header .logo h1 {
  color: #333333;
}

.nav-links-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav-links {
  display: flex;
  list-style-type: none;
}

.nav-bar-items {
  margin: 0 10px;
}

.nav-bar-items a {
  color: #333333;
  font-weight: 500;
  padding: 10px;
}

a:hover {
  color: #ffffff;
}

.hamburger {
  display: none;
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
}

header .signup-btn {
  background-color: #e4d39c;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.signup-btn:hover {
  background-color: #e1943c;
  color: white;
}



/* Hero Section */
.hero {
  background: url('/components/bg.jpg') no-repeat center/cover;
  color: white;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-attachment: fixed;
  z-index: 10;
}

.hero .hero-content h2 {
  font-size: 3rem;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

.hero .hero-content p {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.hero .cta-btn {
  background-color: #e4d39c;
  color: rgb(232, 171, 73);
  padding: 15px 30px;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
}

.cta-btn:hover {
  background-color: #e1943c;
  color: white;
}

.hero .scroll-indicator {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero .scroll-indicator a {
  font-size: 1.5rem;
  color: white;
  text-decoration: none;
  animation: bounce 1.5s infinite;
  border-radius: 50%;
  border: none;
  padding: 10px;
}

/* Animation for Scroll Indicator */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

/* Courses Section */
.courses {
  padding: 60px 20px;
  background-color: white;
}

.courses .container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.course-title {
  margin-bottom: 1rem;
}

.course-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(216px, 1fr));
  gap: 20px;
  width: 100%;
}

.course-card {
  background-color: #f5e9cd;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s ease;
}

.course-card:hover {
  transform: translateY(-10px);
}

.course-card img {
  width: 100%;
  border-radius: 8px;
}

.course-card h3 {
  font-size: 1.5rem;
  margin-top: 10px;
}

.course-card p {
  margin: 10px 0;
}

.course-card .price {
  font-weight: bold;
  font-size: 1.2rem;
  color: #f4bb00;
}

/* Features Section */
.features {
  padding: 60px 0;
  background-color: white;
}

.features .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feature-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feature-card {
  background-color: #f5e9cd;
  padding: 30px;
  width: 300px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  /* Start as invisible */
  transform: translateY(20px);
  /* Slightly below the original position */
  transition: transform 0.3s ease, opacity 0.5s ease;
}

.feature-card.fade-in {
  opacity: 1;
  /* Become fully visible */
  transform: translateY(0);
  /* Move into position */
}

.feature-card:hover {
  transform: translateY(-10px);
}

.feature-card img {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.feature-card h3 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #666;
}


/* Testimonials Section */
.testimonials {
  padding: 60px 0;
  background-color: white;
}

.testimonials .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.testimonial-card {
  background-color: #f5e9cd;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.testimonial-card img {
  border-radius: 50%;
  margin-bottom: 15px;
}

.testimonial-card p {
  font-size: 1rem;
  color: #666;
}

.testimonial-card p:last-child {
  font-weight: bold;
}

/* FAQ Section */
.faq {
  padding: 60px 20px;
  background-color: white;
  color: white;
}

.faq .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
  color: #333;
  text-align: center;
}

.faq .faq-accordion {
  width: 100%;
  max-width: 800px;
}

.faq-item {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.faq-item:hover {
  transform: translateY(-5px);
}

.faq-question {
  padding: 20px;
  background-color: #f4bb00;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
  border-radius: 8px 8px 0 0;
  position: relative;
}

.faq-question::after {
  content: '\2193';
  font-size: 1.5rem;
  color: white;
  margin-left: 15px;
  transition: transform 0.3s ease;
  position: absolute;
  right: 20px;
}

.faq-answer {
  display: none;
  color: black;
  padding: 20px;
  background-color: #ebd293;
  font-size: 1rem;
}

.faq-item:hover .faq-answer {
  display: block;
}

.faq-item:hover .faq-question::after {
  transform: rotate(180deg);
}




/* Pricing Section */
.pricing {
  padding: 60px 0;
  background-color: #ffffff;
}

.pricing-title {
  margin-bottom: 1rem;
}

.pricing .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pricing-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.pricing-card {
  background-color: #f5e9cd;
  padding: 30px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.pricing-card h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.pricing-card .price {
  font-size: 2rem;
  font-weight: bold;
  color: #ff7f50;
}

.pricing-card p {
  font-size: 1rem;
  color: #666;
}

.pricing-card:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.pricing-card.highlight {
  border: 2px solid #ff7f50;
  background-color: #fffbf6;
}

/*Tool tip for pricing*/
#badge {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.recommended {
  background-color: #eeb703;
  opacity: 0.8;
}

#badge::after {
  content: 'Recommended Offer';
  /* position: absolute; */
  background-color: #ff0000;
  opacity: 0.7;
  color: #fff;
  padding: 2px;
  white-space: nowrap;
}

/* Contact Section */
.contact {
  padding: 60px;

  margin-bottom: 2rem;
  background-color: #f5e9cd;
  margin: 50px;
}

.contact .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: 0 auto;
}

.contact-form input,
.contact-form textarea {
  font-size: small;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
  resize: none;
  width: 100%;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border-color: #ff7f50;
}

.contact-form button {
  background-color: #e1943c;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
}

/* Footer */
footer {
  background-color: #1d1d1d;
  color: white;
  bottom: 0;
  padding: 10px;
  /* position: fixed; */
  width: 100%;
}

footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9;
}

footer .social-media {
  margin-bottom: 20px;
}

footer .social-media i {
  padding: 20px;
}

footer .social-media i:hover {
  color: white;
  cursor: pointer;
}

footer .newsletter {
  display: flex;
  margin-bottom: 20px;
}

footer .newsletter input {
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  margin-right: 10px;
  width: 250px;
}

footer .newsletter button {
  background-color: #e1943c;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

footer p {
  font-size: 0.9rem;
}

.cta-btn2:hover {
  background-color: #f38e00;
  color: #ede2d6;
}

/* Responsive Design */

@media (max-width: 1450px) {
  .feature-cards {
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: center; */
  }

  .feature-card {
    margin-bottom: 40px;
  }

  .testimonial-cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .testimonial-card {
    padding: 15px;
  }

  /* Pricing Cards */
  .pricing-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .pricing-card {
    padding: 20px;
    margin: 10px;
  }

  .container .contact-form {
    width: 100%;
    padding: 10px;
    margin: 50px;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 10px;
    font-size: 1rem;
  }

  .contact-form button {
    padding: 12px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 1050px) {
  .feature-cards {
    grid-template-columns: repeat(2, 1fr);
    /* justify-content: center; */
  }

  .container .contact-form {
    width: 100%;
    padding: 10px;
    margin: 50px;
  }

  .testimonial-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .pricing-card .price {
    font-size: 1rem;
  }
}



@media (max-width: 768px) {

  .nav-links {
    display: none;
    width: 130px;
    flex-direction: column;
    text-align: center;
    background-color: rgba(255, 244, 202, 0.9);
    position: absolute;
    margin-top: 40px;
    opacity: 0.7;
    margin-right: 5px;
    top: 25px;
    right: 0;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .nav-links-container {
    width: 100%;
  }

  .nav-bar-items {
    width: 100%;
    border-radius: 5px;
    /* padding: 10px; */
    padding-right: 20px;
  }

  .nav-bar-items a {
    display: block;
    padding: 10px;
    width: 100%;
    color: black;
    text-align: center;
  }

  .nav-bar-items a:hover {
    color: rgb(255, 157, 0);
  }

  .nav-links.active {
    display: block;
  }

  .hamburger {
    display: block;
  }

  header .navbar ul.active {
    display: flex;
  }

  header .container {
    height: 20px;
  }

  header .hamburger.active+.navbar ul {
    display: flex;
    flex-direction: column;
  }

  .hero .hero-content h2 {
    font-size: 2rem;
  }

  .hero .hero-content p {
    font-size: 1rem;
  }

  .hero .cta-btn {
    padding: 12px 20px;
  }

  .courses .course-cards {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  }

  .feature-cards {
    grid-template-columns: repeat(2, 1fr);
    display: block;
  }

  .feature-card {
    margin-bottom: 40px;
  }

  .testimonial-cards {
    grid-template-columns: repeat(1, 1fr);
  }

  .testimonial-card {
    padding: 15px;
  }

  .faq-title {
    font-size: 2rem;
  }

  .faq-question {
    font-size: 1rem;
    padding: 15px;
  }

  .faq-answer p {
    font-size: 0.9rem;
    padding: 15px;
  }

  /* Pricing Cards */
  .pricing-cards {
    grid-template-columns: repeat(2, 1fr);
    margin: 10px;
  }

  .pricing-card {
    padding: 20px;
  }

  .pricing-card .price {
    font-size: 1rem;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 12px;
    font-size: 1rem;
  }

  .contact-form button {
    padding: 12px 20px;
    font-size: 1rem;
  }
}